{{#each this}}
  <h2 class='country__name'>{{name}}</h2>
  <div class='country'>

    <div>
      <img src='{{flag}}' alt='{{name}}' width='450' />
    </div>
    <div class='country__details'>
      <p><b>Capital: </b>{{capital}}</p>
      <p><b>Population: </b>{{population}} inhabitants</p>
      <b>Languages: </b>
      <ul>
        {{#each languages}}
          <li>{{name}}</li>
        {{/each}}
      </ul>
    </div>

  </div>
{{/each}}